CombatBotServer/.pio
CombatBotServer/.vscode/.browse.c_cpp.db*
CombatBotServer/.vscode/c_cpp_properties.json
CombatBotServer/.vscode/launch.json
CombatBotServer/.vscode/ipch

.DS_Store

CombatBotClient/pytest_cache/
CombatBotClient/.vscode/
CombatBotClient/.coverage/
CombatBotClient/htmlcov/
CombatBotClient/Scripts/
CombatBotClient/Lib/
CombatBotClient/bin/
CombatBotClient/Include/

CombatBotClient/__pycache__/


CombatBotClient/.coverage
CombatBotClient/pyvenv.cfg
